#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.read-the-docs {
  color: #888;
  position: relative;
  top: -2.2rem;
}

.letras{
  margin: 3px;
}
    
.hiddenWord{
  color:#00A2FE;
}